
@{
    ViewBag.Title = "OrderDetails";
}

<h2>OrderDetails</h2>


<form class="form-inline mt-5 pt-5">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>


<table class="table table-hover ">
    <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Shipper Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Receiver's Details</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table">
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table">
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table">
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
    </tbody>
</table>